<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MongDB Flask App</title>
	<link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}"/>
</head>
<body>
  
  <form method="GET" action={{url}}>
      <button type="submit" class="btn btn-primary"> Home</button>
  </form>
<!-- <form action = "http://192.168.50.137:5000/data" method = "POST">   -->
  <!-- <form action = "http://python-web-test-softpost-new.azurewebsites.net/data" method = "POST"> -->
    <form action = {{url}}/data method = "POST">
  <p><h3>Firstname</h3></p> 
        <p><input type = 'text' required name = 'Firstname'/></p> 
        <p><h3>Lastname</h3></p> 
        <p><input type = 'text' name = 'Lastname'/></p>
        <p><h3>Age</h3></p> 
        <p><input type = 'text' required name = 'Age'/></p>
        <p><h3>grade</h3></p> 
        <p><input type = 'text' required name = 'grade'/></p>
        <p><input type = 'submit' value = 'Submit'/></p> 
</form> 
<table id="mytab1">
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Age</th>
      <th>grade</th>
    </tr>
   {% for student in students %}	 

         
              <tr>
                  <td>{{ student['Firstname'] }}</td><td>{{student['Lastname'] }}</td><td>{{ student['Age'] }} </td> <td>{{ student['grade'] }} </td>  
   
     
</tr>    
      {% endfor %} 
      </table> 
</body> 

</html> 
