<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        table, th, td {
            padding-left:70px;
          border: 1px solid black;
          empty-cells: show;
          
        }
        </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MongDB Flask App</title>
	<link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}"/>
</head>
<body>
    <h1>{{stu}}</h1>
    <h1>{{degr}}</h1>

    
        <table class="table" id = "myTable">
            <tr>
                <th  style="width: 55px" rowspan="2"> <b> Date </b> </th>
                <th  style="width: 55px" colspan="4">
                আমার, তোমার,আমি,তুমি
                বলবে এবং বুঝবে
            </th>
            <th  style="width: 55px" colspan="2">
                দুই শব্দের পছন্দের জিনিস চাইবে
            </th style="width: 55px" colspan="2">
            প্রশ্ন করার পর হ্যালো বলবে এবং মাথা নেড়ে উত্তর দেবে
            <th  style="width: 55px" colspan="4">
            উপরে নিচে সামনে পেছনে বুঝবে এবং সেই অনুযায়ী জিনিস রাখবে
            </th>
        </tr>
          
            <tr>
           
             
              <th  style="width: 110px"> <b>আমার</b> </th>
              <th style="width: 110px"> <b> তোমার</b> </th>
              <th style="width: 110px"> <b> আমি</b> </th>
              <th style="width: 110px"> <b> তুমি</b> </th>
              <th style="width: 110px"> <b> </b> </th>
              <th style="width: 110px"> <b> Yes</b> </th>
              <th style="width: 110px"> <b> No</b> </th>
              <th  style="width: 110px"> <b>উপরে</b> </th>
              <th style="width: 110px"> <b> নিচে</b> </th>
              <th  style="width: 110px"> <b>সামনে</b> </th>
              <th style="width: 110px"> <b> পেছনে</b> </th>
            </tr>

        </table>
        <form action =  "http://192.168.50.137:5000/insert" method = "POST"> 
            <input type="hidden" name="vehicle1" value={{stu}}>
            <input type="hidden" name="degree" value={{degr}}>
            <input type="hidden" name="bflag" value=False>
            <!-- <p><h3>Morning</h3></p> -->
            <label for="date">Morning</label>
            <input type="date" id="day" name="day"/>
            <input type="text" id ="Room Clean Performed" />
            <input type="text" id ="Table clean performed" />
            <input type="text" id ="Cloth Sorting Performed" />
        <br>
            <label for="date">Evening</label>
            <input type="date" id="day" name="day"/>
            <input type="text" id ="Room Clean Performed" />
            <input type="text" id ="Table clean performed" />
            <input type="text" id ="Cloth Sorting Performed" />
            <input type="submit" onclick="return fillTable();" />
        <!-- <form action=""> -->
       
        </form>
    <script>
        function fillTable() {
            var table = document.getElementById("myTable");
             var row = table.insertRow(0);
  
             var cell1 = row.insertCell(1);
//             cell1.innerHTML = "Morning";
             var cell2 = row.insertCell(2);
             var cell3 = row.insertCell(3);
             var cell4 = row.insertCell(4);

            cell1.innerHTML=document.getElementById("day").value;
            cell2.innerHTML = document.getElementById("Room Clean Performed").value;
            cell3.innerHTML = document.getElementById("Table clean performed").value;
            cell4.innerHTML = document.getElementById("Cloth Sorting Performed").value;
            
            return false;
          }
        </script>
</body>
        