<form action="/get_file" method="post" >
    <label for="gender">Choose a gender:</label>
<select id="gender" name="gender">
  <option value="boys">Boy</option>
  <option value="girl">Girl</option>
</select>
<input type="radio"   style="vertical-align: middle" id="25 years or younger" name="age" value="yage">
<label for="25 years or younger">25 years or younger</label><br>
<input type="radio" style="vertical-align: middle" id="25 - 30 years" name="age" value="mage">
<label for="25 - 30 years">25 - 30 years</label><br>
<input type="radio" style="vertical-align: middle" id="30-35 years" name="age" value="mlage">
<label for="30-35 years">30-35 years</label><br>
<input type="radio" style="vertical-align: middle" id="35-40 years" name="age" value="lage">
<label for="35-40 years">35-40 years</label><br>
<input type="radio" style="vertical-align: middle" id="40-45 years" name="age" value="llage">
<label for="40-45 years">40-45 years</label><br>
<button type="submit">Submit</button>
  

</form>