<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MongDB Flask App</title>
    <script ="text/javascript" src="multiselect-dropdown.js"></script>
	<!-- <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}"/> -->
</head>
<body>

        <form action = {{url}}/printfill method = "POST">  
            <input type="hidden" name="bflag" value=False> 
          <input type="hidden" name="stuid" value={{stuid}}> 
          <input type="hidden" name="stlevel" value="{{stlevel}}">
        <input type="hidden" name="stdegr" value="{{stdegr}}">
        <input type="hidden" name="fromd" value={{fromd}}>
        <input type="hidden" name="tod" value="{{tod}}">
        <input type="hidden" name="stkey" value="{{stkey}}">
        <!-- <input type="hidden" name="selectedkeys" value="{{selectedkeys}}"> -->

          <hr>
          
          <tr>
            <label for="selkeys" id="{{stkey}}">{{stkey}}:</label>
           <select name="selkeys" id="selkeys" multiple>
          {% for name in catfinallist %} 
          
 
              <option value="{{name}}" >{{name}}</option> 
                  
             

            {% endfor %} 
           
           
         </select>  
         <br>
          </tr>  
        
 
            <button type="submit">Submit</button>
     
        </form> 
    </body>