
<html> 

   <body> 

     

      <form action =  "http://192.168.50.137:5000/index" method = "POST"> 

         <p><h3>First Name</h3></p> 

         <p><input type = 'text' name = 'firstname'/></p> 
         <p><h3>Last Name</h3></p> 

         <p><input type = 'text' name = 'lastname'/></p>
         <p><h3>Age</h3></p> 

         <p><input type = 'text' name = 'age'/></p>  
         <p><h3>School grade</h3></p> 

         <p><input type = 'text' name = 'grade'/></p>  
     
         <p><input type = 'submit' value = 'Submit'/></p> 
         
      </form> 

        

   </body> 

</html> 
