<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MongDB Flask App</title>
    <script ="text/javascript" src="multiselect-dropdown.js"></script>
	
</head>
<body>

        <form action = {{url}}/printstuff method = "POST">  
            <input type="hidden" name="bflag" value=False> 
          <input type="hidden" name="stuid" value={{stuid}}> 
          <input type="hidden" name="stlevel" value="{{stlevel}}">
        <input type="hidden" name="stdegr" value="{{stdegr}}">
        <input type="hidden" name="fromd" value={{fromd}}>
        <input type="hidden" name="tod" value="{{tod}}">


          <hr>
          {% for lis in lisk%}
          {% for key,value in lis.items() %}	

          <tr>
            <input type="checkbox" id="stkey"  name="stkey" value="{{key}}">{{key}} 
    
         <br>
         </tr>
        {% endfor %} 
        {% endfor %} 
            <button type="submit">Submit</button>
            
        </form> 
    </body>