<form method="POST">
  <input name="username" placeholder="Username" required>
  <input name="password" type="password" placeholder="Password" required>
  <button type="submit">Login</button>
</form>
<a href="{{ url_for('forgot_password') }}">Forgot Password?</a>
<a href="{{ url_for('forgot_username') }}">Forgot Username?</a>

<!-- {% extends 'layout.html' %} 
{% block content %}
  <h2>Login</h2>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <form method="post" action="{{ url_for('login') }}">
    <label for="username">Username:</label>
    <input type="text" name="username" required>
    <label for="password">Password:</label>
    <input type="password" name="password" required>
    <button type="submit">Login</button>
    <p>Don't have an account? <a href="{{ url_for('register') }}">Register here</a>.</p>
    <p>forgot password? <a href="{{ url_for('forgot_password') }}">Forgot password</a>.</p>
    <p>forgot username? <a href="{{ url_for('forgot_username') }}">Forgot username</a>.</p> 

  </form>
{% endblock %} -->