
<html> 

   <body> 

     

      <form action =  "http://localhost:5000/print" method = "POST"> 

        <hr>
	{% for student in students %}	    
		 <p>{{ student['firstname'] }} <i>
			{{ student['lastname'] }}</i>
            {{ student['age'] }}</i>
            {{ student['grade'] }}</i>
            <p><input type = 'text' name = "{{ student['firstname'] }}" /></p> 
            <p><input type = 'submit' value = 'Print'/></p> 
		<!-- <button onclick="alert('Hello Campers')">Sample Button</button></p> -->
    {%endfor%}
     <hr>
    <!-- {% for student in students %}	 -->
    <!-- sr={{ student['firstname'] }}     -->
		 <!-- <p><button onclick="alert('Hello Campers')">Sample Button</button> -->
			
            <!-- <button class="button button1">Green</button>
            <button class="button button2">Blue</button> -->
    <!-- {%endfor%} -->
</form> 
</body> 

</html> 
