<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MongDB Flask App</title>
	<link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}"/>
</head>
<body>
    <h1>{{stu}}</h1>
    <h1>{{degr}}</h1>
   
    <form action =  "http://localhost:5000/insert" method = "POST"> 
        <input type="hidden" name="vehicle1" value={{stu}}>
        <input type="hidden" name="degree" value={{degr}}>
        <input type="hidden" name="bflag" value=False>
        <p><h3>Date</h3></p> 
        <p>
            <input type="date" id="day" name="day">
        </p>
        <p><h3>কোন problem ছিল  না</h3></p> 
        <p><input type = 'text' name = 'কোন problem ছিল  না'/></p>
        <p><h3>কান্না করা</h3></p> 
        <p><input type = 'text' name = 'কান্না করা'/></p>
        <p><h3>ধাক্কা দেওয়া</h3></p> 
        <p><input type = 'text' name = 'ধাক্কা দেওয়া'/></p>  
        <p><h3>থুথু দেওয়া</h3></p> 
        <p><input type = 'text' name = 'থুথু দেওয়া'/></p>  
        <p><h3>থাপ্পড় দেওয়া</h3></p> 
        <p><input type = 'text' name = 'থাপ্পড় দেওয়া'/></p>
       

        <p><input type = 'submit' value = 'Submit'/></p> 
        
    </form>
    </body>