<!-- <form method="POST" action="{{ url_for('reset_password') }}">
    <input type="hidden" name="username" value="{{ username }}">
    <label>New Password:</label>
    <input type="password" name="password" required>
    <button type="submit">Reset Password</button>
</form> -->

<form method="POST" action="{{ url_for('reset_password') }}">
    <input type="hidden" name="username" value="{{ username }}">
    <input type="password" name="password" placeholder="New Password" required>
    <button type="submit">Update Password</button>
</form>

