
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
<html> 

   <body> 
 
    <form method="GET" action={{url}}> 
      <!-- <form method="GET" action="https://python-web-test-softpost-new.azurewebsites.net/"> -->
       
        <button type="submit" class="btn btn-primary"> Home</button>
    </form>
     

      <form action = {{url}}/printstuff method = "POST">  
      
        <p><h3>From Date</h3></p> 
        <p>
            <input type="date" id="fromday" name="fromday">
        </p>
        <p><h3>To Date</h3></p> 
        <p>
            <input type="date" id="today" name="today">
        </p>
        <p>
          <input 
          id="degree-1" 
          name="degree" 
          required 
          type="radio" value="Receptive Communication">
          <label for="degree-1">Receptive Communication</label>
      </p>
      <p>
        <input 
        id="degree-0" 
        name="degree" 
        required 
        type="radio" value="Expressive Communication">
        <label for="degree-0">Expressive Communication</label>
    </p>
       <p>
        <input 
        id="degree-2" 
        name="degree" 
        required 
        type="radio" value="Social Skills">
        <label for="degree-2">Social Skills</label>
    </p>
    <p>
        <input 
        id="degree-3" 
        name="degree" 
        required 
        type="radio" value="Imitation">
        <label for="degree-3">Imitation</label>
    </p>
    <p>
      <input 
      id="degree-4" 
      name="degree" 
      required 
      type="radio" value="Play">
      <label for="degree-4">Play</label>
  </p> 
  <p>
    <input 
    id="degree-5" 
    name="degree" 
    required 
    type="radio" value="Fine Motor">
    <label for="degree-5">Fine Motor</label>
</p> 
<p>
    <input 
    id="degree-6" 
    name="degree" 
    required 
    type="radio" value="grossmotor">
    <label for="degree-6">Gross Motor</label>
</p> 

    <p>
      <input 
      id="level1" 
      name="level" 
      required 
      type="radio" value="level1">
      <label for="level">level 1</label>
  </p>
  <p>
    <input 
    id="level2" 
    name="level" 
    required 
    type="radio" value="level2">
    <label for="level">level 2</label>
</p> 
<p>
  <input 
  id="level3" 
  name="level" 
  required 
  type="radio" value="level3">
  <label for="level">level 3</label>
</p> 
      <table id="mytab1">
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Age</th>
        <th>grade</th>
      </tr>
     {% for student in students %}	 

           
                <tr>
                    <td>{{ student['Firstname'] }}</td><td>{{student['Lastname'] }}</td><td>{{ student['Age'] }} </td> <td>{{ student['grade'] }} </td>  
     
            <td>
             <input type="checkbox" id="vehicle1" name="vehicle1" value={{ student['_id'] }} ></td>

        
    </tr>
      
        {% endfor %} 
        </table>
 <button type="submit">Print</button> 
       
        
</form> 
</body> 

</html> 
