
<html> 

   <body> 

     

      <form action =  "http://192.168.50.137:5000/data" method = "POST"> 

        <hr>
	{% for student in students %}	    
		 <p>{{ student['firstname'] }} <i>
			{{ student['lastname'] }}</i>
            {{ student['age'] }}</i>
            {{ student['grade'] }}</i>
            <p><input type = 'text' name = "{{ student['firstname'] }}" /></p> 

		<button onclick="alert('Hello Campers')">Sample Button</button></p>
    {%endfor%}
     <hr>

</form> 
</body> 

</html> 
