<!DOCTYPE html>
<html>
  
  <form method="GET" action={{url}}> 
    <!-- <form method="GET" action="https://python-web-test-softpost-new.azurewebsites.net/"> -->
     
      <button type="submit" class="btn btn-primary"> Home</button>
  </form>
   

<head>
<script>

   function downloadFile(data,name = document.getElementById("downloadfile").value) {
 
 let test="";
var resultsv=data;
 jsonData = JSON.parse(resultsv);  
 console.log(jsonData.length);   
for (let i = 0; i < jsonData.length; i++) {
console.log(jsonData[i].Date);

 if(i==0)
 {
for (var key in jsonData[i]){
  console.log(key);    
  test+=key+',';
 }
test+='\n';
 }

for (var key in jsonData[i]){
   
  test+=jsonData[i][key]+',';
  console.log(jsonData[i][key]);
}
test+="\n";
}

   
    test+="";
    const testh=test;
   const blob =new Blob([testh],{type: "octet-stream"});
   const href=URL.createObjectURL(blob);
   const a =Object.assign(document.createElement("a"),{
      href,
      style: "display:none",
      download: name,
   });
  document.body.appendChild(a);
  a.click();
  URL.revokeObjectURL(href);
  a.remove();
 
}
</script>
</head>
<body>
<h2> Name: {{firstname}} {{lastname}} <br>from date: {{fromdate}} todate::{{todate}}</h2>
<h2>level :{{stlevel}}<br> Category: {{stegr}} </h2>
<table>
  {% if resultsheader %}
 <tr>
    {% for key in resultsheader %}
    <th> {{ key }} </th>
    {% endfor %}
 </tr>
<tr>
 {% for rval in rresult %}
 <tr>
    {% for key,value in rval.items() %}
    <td> {{ value }} </td>
    {% endfor %}
 </tr>
 {% endfor %}

 {% endif %} 

</table> 

<p><h3>Filename to download the data</h3></p> 
<p><input type = 'text' name = 'filename' id="downloadfile"/></p> 
<button type="button" onclick="downloadFile('{{resultd}}')">download</button>
</body>
</html>
