<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MongDB Flask App</title>
	<link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}"/>
</head>
<body>
    <form action = {{url}}/filldata method="POST">
    <!-- <form action = "http://python-web-test-softpost-new.azurewebsites.net/filldata" method = "POST"> -->
        <!-- <form action = "http://192.168.50.137:5000/filldata" method = "POST">    -->
         <input type="hidden" name="stuid" value={{stuid}}> 
        <input type="hidden" name="stdegr" value="{{stdegr}}">
        <input type="hidden" name="stdate" value={{stdate}}>
        <input type="hidden" name="stlevel" value="{{stlevel}}"> 
        <input type="hidden" name="stname" value="{{stname}}">
    
          <p><h3>{{stdate}}</h3></p> 
           <p><h3>{{stlevel}}</h3></p>  
          <p><h3>"{{stdegr}}"</h3></p> 
          <p><h3>"{{stname}}"</h3></p> 
          <hr>
         
          {% for key,value in comblevels.items() %}	
          
          <tr>
          <input type="checkbox" id="stkeylevel" name="stkeylevel" value="{{key}}" >{{key}}
           <!-- <select name="levelall" id="levelall"> -->
            <select name="{{key}}" id="{{key}}"> 
          {% for name in value %} 
            
 
                <option value="{{name['key']}}" {{name['value']}}>{{name['key']}}</option>
                  
                 

            {% endfor %}
        </select>
         <br>
         </tr>
        {% endfor %} 
            <button type="submit">Submit</button>
        
        </form> 
    </body>