<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MongDB Flask App</title>
	<link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}"/>
</head>
<body>
    <!-- <h1>{{stu}}</h1> -->
    <!-- <h1>{{degr}}</h1>   -->
    <!-- <form action =  "http://localhost:5000/insert" method = "POST">  -->
        <form action = "http://192.168.50.137:5000/insert" method = "POST">  
        <input type="hidden" name="vehicle1" value={{stu}}>
        <input type="hidden" name="degree" value={{degr}}>
        <input type="hidden" name="bflag" value=False>
        <p><h3>Date</h3></p> 
        <p>
            <input type="date" id="day" name="day">
        </p>
        <p><h3>ব্লক(Morning)</h3></p> 
        <p><input type = 'text' name = 'ব্লক(Morning)'/></p>
        <p><h3>ব্লক(Evening)</h3></p> 
        <p><input type = 'text' name = 'ব্লক(Evening)'/></p>
        <p><h3>আয়রন(Morning)</h3></p> 
        <p><input type = 'text' name = 'আয়রন(Morning)'/></p>
        <p><h3>আয়রন(Evening)</h3></p> 
        <p><input type = 'text' name = 'আয়রন(Evening)'/></p>
        <p><h3>পুতি(Morning)</h3></p> 
        <p><input type = 'text' name = 'পুতি(Morning)'/></p>
        <p><h3>পুতি(Evening)</h3></p> 
        <p><input type = 'text' name = 'পুতি(Evening)'/></p>  
        <p><h3>রান্না(Morning)</h3></p> 
        <p><input type = 'text' name = 'রান্না(Morning)'/></p>  
        <p><h3>রান্না(Evening)</h3></p> 
        <p><input type = 'text' name = 'রান্না(Evening)'/></p>  
        <p><h3>সেলাই(Morning)</h3></p> 
        <p><input type = 'text' name = 'সেলাই(Morning)'/></p>
        <p><h3>সেলাই(Evening)</h3></p> 
        <p><input type = 'text' name = 'সেলাই(Evening)'/></p>
        <p><h3>Pasting(Morning)</h3></p> 
        <p><input type = 'text' name = 'Pasting(Morning)'/></p>  
        <p><h3>Pasting(Evening)</h3></p> 
        <p><input type = 'text' name = 'Pasting(Evening)'/></p>  
        <p><h3>সবজি কাটা(Morning)</h3></p> 
        <p><input type = 'text' name = 'সবজি কাটা(Morning)'/></p>  
        <p><h3>সবজি কাটা(Evening)</h3></p> 
        <p><input type = 'text' name = 'সবজি কাটা(Evening)'/></p>  
        <p><h3>কাগজ কাটিং(Morning) </h3></p> 
        <p><input type = 'text' name = 'কাগজ কাটিং(Morning)'/></p>  
        <p><h3>কাগজ কাটিং(Evening) </h3></p> 
        <p><input type = 'text' name = 'কাগজ কাটিং(Evening)'/></p>  
        <p><input type = 'submit' value = 'Submit'/></p> 
        
    </form>
    </body>