<!DOCTYPE html>
<html lang="en">
<head>
   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MongDB Flask App</title>
	<link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}"/>
</head>
<body>
   
    <form action = {{url}}/filldata method = "POST">   
        <input type="hidden" name="bflag" value=False>
        <input type="hidden" name="stuid" value={{stuid}}> 
        <input type="hidden" name="stdegr" value="{{stdegr}}">
        <input type="hidden" name="stdate" value={{stdate}}>
        <!-- <input type="hidden" name="stlevels" value="{{stlevels}}"> -->
        <input type="hidden" name="stlevel" value="{{stlevel}}">
        <input type="hidden" name="stname" value="{{stname}}">
        <input type="hidden" name="stkeylevel" value="{{stkeylevel}}">
        <!-- <input type="hidden" name="starraylevel" value="{{starraylevel}}"> -->
        <input type="hidden" name="sclicklevel" value="{{sclicklevel}}">
  
        
        <p><h3>{{Date}}</h3></p> 
          <p><h3>{{levelo}}</h3></p> 
          <p><h3>"{{stdegr}}"</h3></p> 
          <p><h3>{{name}}</h3></p> 
          
          <hr>
        <label for="clicklevel">Performance:</label>
        {% for perf in performance %} 
        <p>
            <input 
            id={{perf}} 
            name="clicklevel" 
            required 
            type="radio" value="{{perf}}" >
            <label for={{perf}}>{{perf}}</label>
        </p>
        {% endfor %}
       
         <!-- <select name="clicklevel" id="clicklevel"> 
         
          {% for perf in performance %} 
                    <option value={{perf}}>&nbsp;{{perf}}&nbsp;&nbsp;</option>
            {% endfor %}
        </select>  -->
    
            <button type="submit">Submit</button>
        </form> 

        
            
    </body>