
 <html> 

   <body> 

  
            <tr>
        {% for hdata in headers %}
      
        
           
      
                <th scope="col">{{ hdata }}</th>

        
       
                {% endfor %}
            </tr>
            <br/>

            {% for data in results %} 
       <tr>
          {% for key, value in data.items() %}
          <!-- <th scope="col">{{ value}}</th> -->
              <td>{{value}}</td>
          {% endfor %}
      </tr>
      {% endfor %} 
      
 </body> 
</html>